*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    /*border: 2px solid red;*/
}

header img{
    width: 120px;
    height: 50px;
}

main{
    min-height: 90vh;
    
}

.card img{
    width: 100%;
    height: 40%;
}

/*.filter{
    display: none;
    visibility: hidden;
    opacity: 0;
    order: 1;
}*/

.table{
    margin: 6rem auto;
    width: 70%;
    text-align: left;
    border: 2px solid black;
    font-size: 100%;
}

tr td{
    font-size: 80%;
    padding: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: left;
    text-align: left;
}

footer{
    min-height: 5vh;
    min-width: 90vh;
}

footer img{
    width: 50px;
    height: 50px;
}
